<!-- app.component.html -->
<div class="container1">
    <div class="sidebar">
      <div class="logo-container">
        <div class="logo">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNihvbgLSdyMSC-h61C1u4CxyzT_64YuHzzmnTxsnHUZWMZhG3pZLD-adNoALMDGWgpHE&usqp=CAU"
            alt="Logo"
          />
        </div>
      </div>
      <div class="section">
        <ul class="ul_list">
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/myprofile">Account Profile</a></li>
          <li><div>Subscription</div></li>
          <li><div>Services</div></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container2">
    <router-outlet></router-outlet>
  </div>
  